@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  background: #091423;
  color: #fff;
  /* color: #D3D8E1; */
  /* background-image: url('/background.png'); */
}

/* green (#00FFA9) */
/* red (#E49366) */


/* font--------------------- */
@font-face {
  font-family: 'Golos';
  src: url(./fonts/Golos.ttf) format('truetype');
  font-display: swap;
}

.Golos {
  font-family: Golos, sans-serif;
}

/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat.ttf) format('truetype');
  font-display: swap;
}

.Montserrat {
  font-family: Montserrat, sans-serif;
}

/* BebasNeue */
@font-face {
  font-family: 'BebasNeue';
  src: url(./fonts/BebasNeue.ttf) format('truetype');
  font-display: swap;
}

.BebasNeue {
  font-family: BebasNeue, sans-serif;
}

/* Comfortaa */
@font-face {
  font-family: 'Comfortaa';
  src: url(./fonts/Comfortaa.ttf) format('truetype');
  font-display: swap;
}

.Comfortaa {
  font-family: Comfortaa, sans-serif;
}

/* ClashGrotesk */
@font-face {
  font-family: 'ClashGrotesk';
  src: url(./fonts/ClashGrotesk.ttf) format('truetype');
  font-display: swap;
}

.ClashGrotesk {
  font-family: ClashGrotesk, sans-serif;
}

/* PolySans Neutral */
@font-face {
  font-family: 'PolySans Neutral';
  src: url(./fonts/PolySans.ttf) format('truetype');
  font-display: swap;
}

.PolySans  {
  font-family: PolySans Neutral, sans-serif;
}

/* Braze */
@font-face {
  font-family: 'Braze';
  src: url(./fonts/Braze.ttf) format('truetype');
  font-display: swap;
}

.Braze {
  font-family: Braze, sans-serif;
}

/* Cropar */
@font-face {
  font-family: 'Cropar';
  src: url(./fonts/Cropar.otf) format('opentype');
  font-display: swap;
}

.Cropar {
  font-family: Cropar, sans-serif;
}

/* Negusa */
@font-face {
  font-family: 'Negusa';
  src: url(./fonts/Negusa.ttf) format('truetype');
  font-display: swap;
}

.Negusa {
  font-family: Negusa, sans-serif;
}

/* Monthey */
@font-face {
  font-family: 'Monthey';
  src: url(./fonts/Monthey.ttf) format('truetype');
  font-display: swap;
}

.Monthey {
  font-family: Monthey, sans-serif;
}

/* OLIVERA  */
@font-face {
  font-family: 'OLIVERA';
  src: url(./fonts/OLIVERA.ttf) format('truetype');
  font-display: swap;
}

.OLIVERA {
  font-family: OLIVERA, sans-serif;
}

/* Andox  */
@font-face {
  font-family: 'Andox';
  src: url(./fonts/Andox.ttf) format('truetype');
  font-display: swap;
}

.Andox {
  font-family: Andox, sans-serif;
}

/* Milestone  */
@font-face {
  font-family: 'Milestone';
  src: url(./fonts/Milestone.ttf) format('truetype');
  font-display: swap;
}

.Milestone {
  font-family: Milestone, sans-serif;
}




/* slick slider----------------------------- */
.slick-slide.slick-center {
  transform: scale(1.2);
  transition: transform .8s 1.4s cubic-bezier(.84, 0, .08, .99);
}

.slick-slide {
  transition: transform .7s cubic-bezier(.84, 0, .08, .99);
}

.text-slide h1 {
  padding: 18px 0;
  font-size: 64px;
  padding-left: 10%;
}


/* lenis-------------------------------------------------- */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}


/* hamburger menu--------------------------------------- */
.hamburger {
  position: relative;
  width: 1.5em;
  height: 1em;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.hamburger-line {
  position: absolute;
  right: 0;
  width: 100%;
  height: 0.125em;
  border-radius: 0.125em;
  background: #091423;
  transition: inherit;
}

.hamburger-line:nth-child(1) {
  top: 0.1em;
}

.hamburger.is-active .hamburger-line:nth-child(1),
.w-nav-button.w--open .hamburger-line:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotateZ(-135deg);
}

.hamburger-line:nth-child(2) {
  top: 0.5em;
}

.hamburger.is-active .hamburger-line:nth-child(2),
.w-nav-button.w--open .hamburger-line:nth-child(2) {
  right: 50%;
  width: 0;
}

.hamburger-line:nth-child(3) {
  top: 0.9em;
  width: 0.925em;
}

.hamburger.is-active .hamburger-line:nth-child(3),
.w-nav-button.w--open .hamburger-line:nth-child(3) {
  top: 50%;
  width: 100%;
  transform: translateY(-50%) rotateZ(135deg);
}


/* info landing ---------------------------------------------------*/
.info {
  flex: 1;
}

.info:nth-child(2) {
  line-height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.info p .line {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  font-kerning: none;
}

.info p .line span {
  position: relative;
  will-change: transform;
}



