@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  /* background-color: #F9F9F9; */
  /* background-color: #ececec; */
  /* background-color: #F1F1F1; */
  /* background-color: #E6E8EA; */
  background-image: url('https://cdn.prod.website-files.com/66c2fc2d3f238706366ee71c/66d6c0c9c4e66da0d30c9f2a_texture.webp');
}
/* green #00FFA9 */
/* body::before {
  content: "";
  background: #E3E3E3;
  opacity: 0; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
} */

/* font--------------------- */
@font-face {
  font-family: 'Syne';
  src: url(./fonts/Syne.ttf) format('truetype');
  font-display: swap;
}

.syne {
  font-family: Syne, sans-serif;
}


@font-face {
  font-family: 'Raleway';
  src: url(./fonts/Raleway.ttf) format('truetype');
  font-display: swap;
}

.Raleway {
  font-family: Raleway, sans-serif;
  font-size: 18px;
}

@font-face {
  font-family: 'Oswald';
  src: url(./fonts/Oswald.ttf) format('truetype');
  font-display: swap;
}

.Oswald {
  font-family: Oswald, sans-serif;
  /* font-size: 18px; */
}



/* lenis------------------ */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}


/* hamburger menu */
.hamburger {
  position: relative;
  width: 1.5em;
  height: 1em;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.hamburger-line {
  position: absolute;
  right: 0;
  width: 100%;
  height: 0.125em;
  border-radius: 0.125em;
  background: white;
  transition: inherit;
}

.hamburger-line:nth-child(1) {
  top: 0.1em;
}

.hamburger.is-active .hamburger-line:nth-child(1),
.w-nav-button.w--open .hamburger-line:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotateZ(-135deg);
}

.hamburger-line:nth-child(2) {
  top: 0.5em;
}

.hamburger.is-active .hamburger-line:nth-child(2),
.w-nav-button.w--open .hamburger-line:nth-child(2) {
  right: 50%;
  width: 0;
}

.hamburger-line:nth-child(3) {
  top: 0.9em;
  width: 0.925em;
}

.hamburger.is-active .hamburger-line:nth-child(3),
.w-nav-button.w--open .hamburger-line:nth-child(3) {
  top: 50%;
  width: 100%;
  transform: translateY(-50%) rotateZ(135deg);
}


/* info landing */
.info {
  flex: 1
}

.info:nth-child(2) {
  line-height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info p .line {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.info p .line span {
  position: relative;
  will-change: transform;
}

/* background */
.bg-pattern {
  background-color: #15161B;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}


.bg-card {
  background: linear-gradient(to bottom, #a1c4fd, #c2e9fb)
}
